<h2>Title:</h2>
<p> <%= @task.title %> </p>
<h2>Details:</h2>
<p> <%= @task.details %> </p>
<h2>Completed?</h2>
<p> <%= @task.completed %> </p>

<%= link_to "Return to the list", tasks_path %>

<%= link_to "Edit a task", edit_path %>
